.modalContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: #000000a3;
}

.modalContent {
  margin: 25px auto;
  height: 93%;
  width: 95%;
  background-color: #ffffff;
  border-radius: 5px;
  overflow-y: scroll;
}

.searchBar {
  display: flex;
  padding-top: 10px;
  justify-content: center;
  margin-left: 10px;
}

.searchBar > input {
  width: 98%;
  border-color: #e6e6e6;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  font-size: 24px;
  outline: none;
}

.searchIcon {
  width: 40px;
  margin-top: -45px;
  margin-right: 15px;
  float: right;
  position: relative;
}
